<h1>Your Teams</h1>

<% @teams.each do |team| %>
  <h3><%=team.name%></h3>
  <%= render partial: "pokemons/stats", locals: { pokemons: team.pokemons, general_info: true } %>
  <%= button_to "Edit Team", edit_user_team_path(@user, team) , method: :get if logged_in?(@user)%>
  <%= button_to "Delete Team", user_team_path(@user, team), method: :delete, data: { confirm: "Are you sure you want to delete #{team.name}?" }if logged_in?(@user) %>
<% end %>

<%= button_to "Create New Team", new_user_team_path(@user), method: :get if logged_in?(@user)%></br>