<h1>Pokemon</h1>
<%= form_with(url: pokemons_url, method: "get", local: true) do%>
  <%= label_tag(:search, "Select Gen:") %></br>
  <%= collection_select(:gen, :gen_id, @gens, :id, :name)%>
  <%= submit_tag("Search")%>
<% end %></br>
<%= render partial: "stats", locals: { pokemons: @pokemons, general_info: true } %>